<div class="widget">
    <div class="widget-title"><h3>About</h3></div>
        <div class="widget-body">
        	<br>
        	<img src="/img/sitewideimg.png" class="img-fluid" style="margin: 25%; width: 200px; margin-bottom: 0px; margin-top: 0px;border-radius:100%;">

        	<p>I'm <strong>Lys</strong>, the front-end web developer who made this static blog. My writings on here cover art, programming, and working on the Web, but I no longer regularly update this website. Check out my <a href="/" target="_blank">developer portfolio</a>.</p>

        </div>
</div>
