<div class="widget">
	<div class="widget-title"><h3>Contact Me</h3></div>
	<div class="widget-body">

		<div id="contact">
			
			<!--<form>
				<div id="alert"></div>
				<label for="name">Name</label>
				<input type="text" name="name" id="name">
				<label for="email">Email Address</label>
				<input type="email" name="_replyto" id="_replyto">
				<label for="message">Message</label>
				<textarea name="message" id="message" cols="30" rows="5"></textarea>
				<input type="text" name="_gotcha" style="display:none">
				<button type="submit" style="width: 100%">Send</button>
			</form>-->

			<form action="mailto:liz@lizlorena.com" method="post" class="email">				
				<button type="submit" style="width: 100%">Send Email</button>
			</form>
		</div>

		
	</div>
</div>
